#header > .menu{font-size: 18px;}
#header > .service{font-size: 14px;}
#visual_box .main_con .slide p{font-size: 26px; cursor: pointer; letter-spacing: -1px;}
#visual_box .main_con .slide p span{font-size: 45px; font-weight: 300;}
#menu_list a{font-size: 17px;}